* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #817878;
}

/* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap'); */
.cover-pic {
    width: 100%;
    height: 300px;
}

.my-description {
    position: relative;
    background-color: #d8d8d8;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px #000;
    z-index: 10;
}

.my-description h1 {
    font-family: 'Teko', sans-serif;
    font-size: 6em;
    /* margin-top: .5em; */
    margin-left: .5em;
    /* line-height: .6em; */
    color: #43464B;
}

.my-description h2 {
    font-family: 'Teko', sans-serif;
    font-size: 4em;
    margin-left: 2em;
    color: #43464B;
    /* padding-bottom: 1em; */
}

.myNavBar {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.myNavBar ul {
    list-style-type: none;
    display: flex;
    padding-right: 50px;
}

.myNavBar a {
    text-decoration: none;
    color: #43464B;
    margin: 20px;
    font-size: 2em;
    font-family: 'Teko', sans-serif;
}

.myNavBar a:hover {
    text-decoration: underline;
}

.frontend {
    position: relative;
    width: 50%;
    font-size: 1.5em;
    font-family: 'Teko', sans-serif;
    color: #43464B;
}

.backend {
    position: relative;
    width: 50%;
    top: 0;
    font-size: 1.5em;
    font-family: 'Teko', sans-serif;
    color: #43464B;
}

.tech-container {
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    z-index: 1;
}

.img-resize {
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
}

#jquery {
    width: 70px;
}

.tech-header {
    font-size: 2em;
}

.frontend li:nth-child(1){
    padding-top: 1em;
}

.backend li:nth-child(1){
    padding-top: 1em;
}

.frontend ul h2:nth-child(2) {
    background-color: #8BD3E6;
}

.backend ul h2:nth-child(2) {
    background-color: #8BD3E6;
}

.outer {
    background-color: #8d96a6;
    width: 100%;
}

/* Colors for tech status/progress bars */
.html5 {
    background-color: #e44d26;
    width: 75%;
}
.css3 {
    background-color: #264de4;
    width: 80%;
}
.javascript {
    background-color: #cfad04;
    width: 50%;
}
.jquery {
    background-color: #0b1423;
    width: 30%;
}
.bootstrap {
    background-color: #7c0af8;
    width: 35%;
}
.materialize {
    background-color: #a4413a;
    width: 45%;
}
.django {
    background-color: #092e20;
    width: 40%;
}
.flask {
    background-color: #f01209;
    width: 35%;
}
.mongodb {
    background-color: #509747;
    width: 35%;
}
.python {
    background-color: #cfad04;
    width: 45%;
}
.sql {
    background-color: #428db2;
    width: 30%;
}

/* this is where the text is placed sise by side the images of the tech type */
.frontend li {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 1em;
    color: #d8d8d8;
    width: 75%;
}
/* change a block element to an inline one to change its behavior, i.e. so that it sits alongside an image! */
.frontend h2,
.backend h2 {
    width: 100%;
    line-height: 0.9em;
}

.frontend ul {
    list-style-type: none;
}

/*Backend Technologies */
.backend li {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 1em;
    color: #d8d8d8;
    width: 75%;
}

.backend ul {
    list-style-type: none;
}

#mysql {
    width: 80px;
}